<!DOCTYPE html>
<html>
<head>
  <title>gCamp Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container">
      <a class="navbar-brand" href="#">gCamp</a>
    </div>
  </nav>

  <div class="container">
    <%= yield %>
    <hr>
  </div>

  <div class="container" "panel-footer">
    <%= link_to 'About', '/about' %>
    <%= link_to 'Terms', '/terms'%>
    <br></br>
  </div>

</body>
</html>
